@{
    Layout = "_SiteLayout.cshtml";
    Page.Title = "Overview";
}

<p class="Emphasized">
    Included classes:
</p>

<ul>
    <li>
        <p>
            <a href="@Href("AmazonS3Storage")">AmazonS3Storage</a> - Class that provides list/get/set/delete access to <a href="http://aws.amazon.com/s3/">Amazon S3</a> blobs.
        </p>
    </li>
    <li>
        <p>
            <a href="@Href("DataUri")">DataUri</a> - Class that creates <a href="http://en.wikipedia.org/wiki/Data_Uri">"data" URIs</a> for embedding linked content inside a web page.
        </p>
    </li>
    <li>
        <em>More coming...</em>
    </li>
</ul>
